{{ define "main" }}
<header class="page-header"><h1>{{ .Title }}</h1>{{ .Content }}</header>
{{ range .Pages.ByDate.Reverse }}
<article class="post-card">{{ with .Params.image }}<a class="post-thumbnail" href="{{ $.RelPermalink }}"><img src="{{ . | relURL }}" alt="{{ $.Title }}"></a>{{ end }}<div class="post-card-content"><p class="date">{{ .Date.Format "2006.01.02" }}</p><h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>{{ with .Params.tags }}<div class="tags">{{ range . }}<a class="tag" href="{{ printf "/tags/%s/" (. | urlize) | relURL }}">{{ . }}</a>{{ end }}</div>{{ end }}</div></article>
{{ else }}<p>まだ公開記事はありません。</p>{{ end }}
{{ end }}
